<!-- File: Portfolio_Tracker/templates/stock_tracker.html -->


{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for date, stock in stocks.items() %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
