<!-- File: Portfolio_Tracker/templates/stock_tracker.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Stock Tracker</h2>
    <h3>Your Stocks:</h3>
    <ul>
        {% for date, stock in stocks.items() %}
        <li>
            {{ date }} - Open: {{ stock['1. open'] }}, High: {{ stock['2. high'] }}, Low: {{ stock['3. low'] }}, Close: {{ stock['4. close'] }}, Volume: {{ stock['5. volume'] }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
