<!-- File: Portfolio_Tracker/templates/track_recommendations.html -->


{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Stock Recommendations</h2>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Recommendation</th>
            </tr>
        </thead>
        <tbody>
            {% for recommendation in recommendations %}
            <tr>
                <td>{{ recommendation.ticker }}</td>
                <td>{{ recommendation.recommendation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
